body
{
    padding: 10px;
    background-color: #eeeeee;
    color: #000000;
    font-size: 14px;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 1px;
}

p
{
    margin: 0;
    margin-bottom: 6px;
}

input[type="text"], input[type="password"]
{
    padding: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 1px;
    background: none;
    outline: none;
    border: none;
}

input[type="text"]::placeholder, input[type="password"]::placeholder
{
    color: #000000;
}

input[type="submit"]
{
    padding: 0;
    font-size: 14px;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 1px;
    background: none;
    outline: none;
    border: none;
}

input[type="submit"]:hover
{
    cursor: pointer;
    text-decoration: underline;
}

#login-form input[type="text"], #login-form input[type="password"]
{
    margin-bottom: 15px;
    display: block;
}

#upload-form input[type="text"]
{
    display: block;
}

#upload-form input[type="file"]
{
    display: none;
}

#upload-form .file-upload:hover
{
    cursor: pointer;
    text-decoration: underline;
}

#upload-form input[type="submit"]
{
    margin-top: 10px;
    display: block;
}

a.link-black
{
    color: #000000;
    text-decoration: none;
}

a.link-black:hover
{
    text-decoration: underline;
}